<!DOCTYPE html>
<html
        lang="vi"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        data-theme="light"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="great app"/>
    <!-- Dynamic title with default -->
    <title>Just A File Transfer Service</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
    <!-- Common Fragments -->
    <th:block th:replace="~{layout/meta :: meta}"></th:block>
    <th:block th:replace="~{layout/css :: styles}"></th:block>
    <th:block th:replace="~{layout/js-libs :: head-scripts}"></th:block>


    <!-- BEGIN CUSTOM FONT -->
    <style>
        @import url('https://rsms.me/inter/inter.css');
    </style>
    <!-- END CUSTOM FONT -->

</head>

<body th:classappend="${bodyClass}"	data-bs-theme-primary="indigo">

<div class="page">

    <th:block th:replace="~{layout/navbar}"></th:block>

    <div class="page-wrapper">
        <div>
        </div>

        <!-- BEGIN PAGE BODY -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row g-4">
                    <!-- Send Card -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Send</h3>
                            </div>
                            <div class="card-body">
                                <form id="sendForm" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="fileInput" class="form-label">Select file to send</label>
                                        <input type="file" class="form-control" id="fileInput" name="file" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-upload" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="m0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                            <path d="M7 9l5 -5 5 5"></path>
                                            <path d="M12 4l0 12"></path>
                                        </svg>
                                        Send
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Receive Card -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Receive</h3>
                            </div>
                            <div class="card-body">
                                <form id="receiveForm">
                                    <div class="mb-3">
                                        <label for="keyInput" class="form-label">Enter key to receive file</label>
                                        <input type="text" class="form-control" id="keyInput" name="key" placeholder="Enter file key" required>
                                    </div>
                                    <button type="submit" class="btn btn-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="m0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                            <path d="M7 7l5 5 5 -5"></path>
                                            <path d="M12 4l0 12"></path>
                                        </svg>
                                        Receive
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Status/Result Area -->
                <div class="row mt-4">
                    <div class="col-12">
                        <div id="statusArea" class="d-none">
                            <!-- Status messages will appear here -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END PAGE BODY -->


        <!-- Footer  -->
        <th:block th:replace="~{layout/footer :: footer}"></th:block>

        <!-- Modals Fragment -->
        <th:block th:replace="~{layout/modals :: modals}"></th:block>


    </div>
</div>

<!-- Pass CSRF token from Spring Security to JavaScript -->
<script th:inline="javascript">
    // CSRF token is automatically generated by Spring Security
    // It's stored in cookie 'XSRF-TOKEN' and needs to be sent as header 'X-XSRF-TOKEN'
    globalThis.CSRF_TOKEN = /*[[${_csrf.token}]]*/ '';
    globalThis.CSRF_HEADER = /*[[${_csrf.headerName}]]*/ 'X-XSRF-TOKEN';

    // Messages for i18n from messages.properties
    globalThis.MESSAGES = {
        uploadInProgress: /*[[#{p2p.upload.inProgress}]]*/ '',
        selectFile: /*[[#{p2p.upload.selectFile}]]*/ '',
        uploadSuccess: /*[[#{p2p.upload.success}]]*/ '',
        fileId: /*[[#{p2p.upload.fileId}]]*/ '',
        duplicate: /*[[#{p2p.upload.duplicate}]]*/ '',
        uploadError: /*[[#{p2p.upload.error}]]*/ '',
        connectionError: /*[[#{p2p.upload.connectionError}]]*/ '',
        uploading: /*[[#{p2p.upload.uploading}]]*/ '',
        searching: /*[[#{p2p.receive.searching}]]*/ ''
    };
</script>

<!-- P2P Transfer JavaScript -->
<script th:src="@{/js/p2p-transfer.js}"></script>

</body>


</html>
